- full_text ||= false

%li.question
  .left
    .nr= number_for(question)
    .avatar= image_tag avatar_url(question.author)
  %h4= link_to question.title, question
  %span.created
    Erstellt am:
    = l question.created_at
  = render 'actions', :question => question
  %p.text
    - unless full_text
      - omission = "... #{link_to("mehr", question)}"
      = raw truncate(question.content, :length => 250, :omission => omission)
    - else
      = raw question.content



-# .question.container
-#   .right
-#     %h2
-#       = link_to question.title, question
-#       = render 'actions', :question => question
-#     %span.info
-#       %strong Erstellt am:
-#       = l question.created_at
-#     %p.content
-#       - unless full_text
-#         - omission = "... #{link_to("mehr", question)}"
-#         = raw truncate(question.content, :length => 250, :omission => omission)
-#       - else
-#         = raw question.content
-#   .left
-#     .nr
-#       = number_for(question)
-#     .avatar
-#       = image_tag avatar_url(question.author)
