.question
  .right
    %h2
      %a= link_to question.title, question
    %span.info
      %strong Erstellt am:
      = l question.created_at
    %p
      = raw truncate(question.content, :length => 250)
      = link_to "mehr", question
  .left
    .nr
      = number_for(question)
    .avatar
      = image_tag avatar_url(question.author)
