.question
  .right
    %h2
      = link_to question.title, question
      = render 'actions', :question => question
    %span.info
      %strong Erstellt am:
      = l question.created_at
    %p
      - omission = "... #{link_to("mehr", question)}"
      = raw truncate(question.content, :length => 250, :omission => omission)
  .left
    .nr
      = number_for(question)
    .avatar
      = image_tag avatar_url(question.author)
