.post
  %h2.title
    %a= link_to question.title, question
  %p.meta
    Posted by
    %a= question.author.email
    on
    = l(question.created_at)
    &nbsp;&bull;&nbsp;
    %a.comments Comments (64)
  .entry
    %p
      = image_tag avatar_url(question.author)
      = question.content
