.question
  %h2
    = @question.title
    = render 'actions', :question => @question
  %span.info
    <strong>Erstellt am:</strong>
    =l @question.created_at
  %p= raw @question.content

- if can? :read, @question => Answer
  #answers
    - for answer in @question.answers
      - unless answer.new_record?
        = render 'answers/answer', :answer => answer

  - if can? :create, @question => Answer
    = render 'answers/form', :question => @question
