- @title = "Registrieren"
= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  = f.input :email
  = f.input :password
  = f.input :password_confirmation
  = f.input :github_username
  = f.input :receive_jabber_notifications, :hint => "Sendet eine kleine Mitteilung über Jabber bei einer Aktion die mich betrifft."
  = f.input :receive_email_notifications, :hint => "Sendet eine E-Mail bei einer Aktion die mich betrifft."
  = f.button :submit, "Registrieren"
  .clearfix
  = render :partial => "devise/shared/links"
