.topic.container
  .right
    %h2
      = topic
      = render 'actions', :topic => topic
    .voters.content
      %span.info
        %strong Erstellt am:
        = l topic.created_at
      %br
      %span.info
        %strong Author:
        - if topic.submitter.github_username.present?
          = link_to topic.submitter.github_username, github_url(topic.submitter.github_username)
        - else
          = topic.submitter

  .left
    .nr
      = number_for(topic)
    .votes-info
      .vote-count
        = topic.votes.count
      %div
        votes
