.topic
  .right
    %h2
      = topic
      = render 'actions', :topic => topic
    %span.info
      %strong Erstellt am:
      = l topic.created_at
    .voters
      - topic.votes.each do |vote|
        = image_tag avatar_url(vote.voter, :size => 50)
  .left
    .nr
      = number_for(topic)
    .avatar
      = image_tag avatar_url(topic.submitter)
