- @answer_counter ||= 0
- @answer_counter += 1
.answer
  .left
    = image_tag avatar_url(answer.author, :size => 65)
  .right
    = "#{@answer_counter.to_s}."
    %span.author
      = answer.author.email
    %span.date
      =format_date answer.created_at
    %p= answer.content

