- @answer_counter ||= 0
- @answer_counter += 1
%li
  .left
    .avatar= image_tag avatar_url(answer.author, :size => 32)
  %span.nr= "#{@answer_counter.to_s}."
  %span.author= answer.author
  %span.created=l answer.created_at
  = render 'answers/actions', :answer => answer
  %p.text= answer.content
