%html
  %head
    %title RubyusergroupBe
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = stylesheet_link_tag 'template'
    = csrf_meta_tag
  %body
    #wrapper
      #header
        #logo
          %h1 Ruby User Group Bern
          %p template design by CSS Templates
        #search
      #menu
        %ul
          %li.current_page_item
            = link_to "Home", root_path
          %li
            = link_to "Neue Frage", new_question_path
          %li
            %a Photos
          %li
            %a About
          %li
            %a Links
          %li
            %a Contact
      #page
        #page-bgtop
          #page-bgbtm
            #content
              #flash_messages
                - flash.each do |type, message|
                  %div{:class => "flash #{type}"}= message
              = yield
            #sidebar
            .clearfix
    #footer
      %p Copyright (c) 2010 Sitename.com. All rights reserved. Design by <a href="http://www.freecsstemplates.org/"> CSS Templates</a>.
