!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "", :name => "keywords"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}
    %title RubyusergroupBe
    = stylesheet_link_tag 'reset'
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'flash_messages'
    = stylesheet_link_tag 'forms'
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    #top-header
      #actions-navigation
        %ul
          - if user_signed_in?
            %li= link_to current_user.email, edit_user_registration_path
            %li= link_to "Abmelden", destroy_user_session_path
          - else
            %li= link_to "Registrieren", new_user_registration_path
            %li= link_to "Anmelden", new_user_session_path
    #header
      #inner-header
        #title
          %h1 Bern
          %h2 Ruby User Group
    #navigation
      %ul
        %li= link_to "Home", root_path, :class => "large button"
        %li= link_to "Fragen", questions_path, :class => "large button"
        %li= link_to "Themen", topics_path, :class => "large button"
        %li= link_to "Mitglieder", users_path, :class => "large button"
        %li= link_to "Feedback", new_feedback_path, :class => "large button"
    #container
      #content
        - if @title
          #content-header
            %h2= @title
        #flash_messages
          - flash.each do |type, message|
            %div{:class => "flash #{type}"}= message
        = yield
        #footer
          %p &copy; 2010 Ruby User Group Bern
      - if user_signed_in?
        #sidebar
          = render_sidebar


