!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "", :name => "keywords"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}
    %title RubyusergroupBe
    = stylesheet_link_tag 'reset'
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    #wrapper
      #header-wrapper
        #header
          #actions-navigation
            - if user_signed_in?
              Willkommen
              = link_to current_user.email, edit_user_registration_path
              |
              = link_to "Abmelden", destroy_user_session_path
            - else
              = link_to "Registrieren", new_user_registration_path
              |
              = link_to "Anmelden", new_user_session_path

          #logo
            %h1
              RubyUserGroup
              %span>Bern
          #menu
            - if user_signed_in?
              %ul
                %li
                  = link_to "Home", root_path
                - if can? :read, Question
                  %li
                    = link_to "Fragen", questions_path
                - if can? :read, Topic
                  %li
                    = link_to "Themen", topics_path

      #page
        #content
          #flash_messages
            - flash.each do |type, message|
              %div{:class => "flash #{type}"}= message
          = yield
        - if user_signed_in?
          #sidebar
            %ul.sidebar-elements
              = render_sidebar
        .clearfix
      #footer
        %p Copyright (c) 2010 Sitename.com. All rights reserved. Design by <a href="http://www.freecsstemplates.org/"> CSS Templates</a>.
